# Database
DATABASE_URL="postgresql://postgres:XXX@localhost:XXX/XXX?schema=public"
DOCKER_USER="postgres"
DOCKER_PASSWORD="postgres"
DOCKER_DB="postgres"
DB_VERSION="15-alpine"
DB_PORT="5432"

# Aplicação
DEFAULT_PATH='/api/v1'
APP_NAME='CoreFin'
APP_VERSION='0.0.1'
ENV='development' # development | production
